* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid red;
}

footer {
  height: 60px;
  display: flex;
  justify-content: center;
  background-color: rgb(50, 167, 145);
}

footer p {
  align-self: center;
  color: white;
}

.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-between;
}

.header img {
  height: 50px;
  margin: 5px;
}

.header h1 {
  align-self: center;
  color: white;
}

.header form {
  align-self: center;
  height: 30px;
  margin-right: 5px;
}

.trybewarts-login {
  display: flex;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
}

.family-radio {
  display: block;
}

.conteudo-checkbox {
  display: block;
}

#opcoes {
  display: flex;
}
